############################
# ESP-IDF / Build
############################
build/
managed_components/

sdkconfig
sdkconfig.old

############################
# IDE / Editor
############################
.vscode/
.idea/
.clangd

############################
# Backup / Temp files
############################
*.bak
*~
*.tmp

############################
# OS junk
############################
.DS_Store
Thumbs.db

############################
# Logs
############################
*.log

############################
# Python cache (ESP-IDF tools)
############################
__pycache__/
*.pyc

############################
# Secrets / Local configs
############################
.env
